<!DOCTYPE html>
<html lang="PT-BR">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  <title>Monster Slayer</title>
</head>
<body>
  <div id="app">
   <div class="panel scores">
     <div class="score">
       <h1>jogador</h1>
       <div class="life-bar">
         <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
       </div>
       <div>{{playerLife}}%</div>
     </div>
     <div class="score">
      <h1>Monstro</h1>
      <div class="life-bar">
        <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
      </div>
      <div>{{monsterLife}}%</div>
    </div>
   </div>
   <div class="panel result" v-if="hasResult">
    <div class="win" v-if="monsterLife == 0">Voce ganhou</div>
    <div class="lose" v-else>Voce perdeu</div>
   </div>
   <div class="panel buttons">
     <template v-if="running">
      <button class="btn attack">Ataque</button>
      <button class="btn especial-attack">Ataque especial</button>
      <button class="btn heal">Curar</button>
      <button class="btn give-up">Desistir</button> 
    </template>
     <button class="btn new-gamer" v-else>Iniciar</button>
   </div>
   <div class="panel logs"></div>
  </div>
  <script src="app.js">

  </script>
</body>
</html>